.agays{
  color: #F6A951;
  text-align: left;
  font-weight: 900; 
  font-family: 'Montserrat', sans-serif;
}

.caros {
  border: 2px solid #ccc;
  background-color: #33EAF5;
  border-radius: 20px;
  padding: 16px;
  margin: 16px 0;
  text-align: center;
      width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.caros::after {
  content: "";
  clear: both;
  display: table;
}

.caros img {
  /*float: left;*/
  margin-right: 20px;
  border-radius: 50%;
}

.caros span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .caros {
      text-align: center;
  }
  .caros img {
      margin: auto;
      float: none;
      display: block;
  }
}